<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rosario&family=Rowdies:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/styles/home.style.css">
    <!--Material icons below-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Hellobank | Home</title>
</head>
<body>
    <nav>

    </nav>
    <div class="main">
        
        <div class="saldo">
            <p>Olá, Fernando! Seu saldo atual é de:</p>
            <div class="expand">
                <div class="expandBtn">
                    <p>expandir</p>
                    <span class="material-icons">arrow_circle_down</span>
                </div>
            </div>
        </div>

        <div class="line"></div>

        <img src="../public/images/hellobanklogo1.png" alt="HelloBank main logo">
        
        <div class="optionsGrid">
            <div class="option">
                
                <span class="material-icons">
                    description
                </span>

                <p>Extrato</p>
            </div>
            
            <div class="option">
                
                <span class="material-icons">
                    sync_alt
                </span>

                <p>Transferências</p>
            </div>
            <div class="option">
                
                <span class="material-icons">
                    description
                </span>

                <p>Extrato</p>
            </div>
            <div class="option">
                
                <span class="material-icons">
                    description
                </span>

                <p>Extrato</p>
            </div>
            <div class="option">
                
                <span class="material-icons">
                    description
                </span>

                <p>Extrato</p>
            </div>
            <div class="option">
                
                <span class="material-icons">
                    description
                </span>

                <p>Extrato</p>
            </div>
        </div>
        
    </div>
</body>
</html>