<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloBank</title>
    <link rel="stylesheet" href="../public/styles/index.style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rosario&family=Rowdies:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="main">
        <div class="left-container"> 
            <img src="../public/images/homepageimg.jpg" alt="Happy people interacting">
        </div>
        <div class="right-container">
            <div class="branding">
                <img style="max-width: 80%;" src="../public/images/hellobanklogoBLUENAME.png" alt="written brand logo">
                <header> Invista em si mesmo </header>
            </div>
            <img id="brandLogo" width="136px" src="../public/images/hellobanklogo1.png" alt="brand logo art">
            <div class="loginForm hidden">
                <form>
                    <input type="text">
                    <input type="password">
                    <button type="submit">➡</button>
                </form>
            </div>
            <button id="loginBtn" class="main-btn blue-btn">login</button>
            <button id="signupBtn" class="main-btn green-btn">signup</button>
        </div>
    </div>
    <script src="../public/scripts/index.scripts.js"></script>
</body>
</html>