<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rosario&family=Rowdies:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/styles/signup.style.css">
    <title>Hellobank | Cadastro efetuado com sucesso!</title>
</head>
<body>
    <nav>

    </nav>
    <div class="main">
        <img src="../public/images/sucessSignup.png" alt="">
        <div class="message">
            <p>Cadastro realizado com sucesso.</p>
            <p>Confira o seu e-mail e faça login para continuar.</p>
        </div>
        <a href="index.html">
            <div class="branding">
                <img src="../public/images/hellobanklogoBLUENAME.png" alt="written logo">
                <p>Invista em si mesmo</p>
                <img class="mainLogo" src="../public/images/hellobanklogo1.png" alt="">
            </div>
        </a>
    </div>
</body>
</html>